<!DOCTYPE html>
<html ng-app="carbonApp">

<head>
<title>Carbon Emission Dashboard</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="style.css">

</head>
<body ng-app="carbonApp" ng-controller="DashboardController" ng-init="loadCategoryEmission()">

<h2>Carbon Footprint Dashboard</h2>

<hr>

<h3>Upload Excel File</h3>

<input type="file" file-model="excelFile">

<br><br>

<button ng-click="uploadExcel()">Calculate Carbon Emission</button>

<p>{{result}}</p>


<body ng-controller="DashboardController" ng-init="loadCategoryEmission()">

<h3>Category Wise Carbon Emission</h3>

<table border="1">
<tr>
<th>Vehicle Type</th>
<th>Total CO2</th>
</tr>

<tr ng-repeat="c in categoryData">
<td>{{c.vehicle}}</td>
<td>{{c.emission}}</td>
</tr>

</table>

</body>
</body>
</html>