<!DOCTYPE html>
<html ng-app="carbonApp">

<head>

<meta charset="UTF-8">
<title>User Login</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="login.css">

</head>

<body ng-controller="LoginController">

<div class="login-container">

<h2>Welcome Back</h2>

<input type="email" ng-model="email" placeholder="Email Address">

<input type="password" ng-model="password" placeholder="Password">

<button type="button" ng-click="login()">Login</button>

<p class="message" ng-if="message">{{message}}</p>

<p class="register-link">
Don't have an account?
<a href="register.html">Create Account</a>
</p>

</div>

</body>
</html>