<!DOCTYPE html>
<html ng-app="carbonApp">

<head>

<meta charset="UTF-8">
<title>User Registration</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="register.css">

</head>

<body ng-controller="RegisterController">

<div class="register-container">

<h2>Create Account</h2>

<input type="text" ng-model="name" placeholder="Full Name">

<input type="email" ng-model="email" placeholder="Email Address">

<input type="password" ng-model="password" placeholder="Password">

<input type="text" ng-model="country" placeholder="Country">

<button type="button" ng-click="register()">Register</button>

<p class="message" ng-if="message">{{message}}</p>

<p class="login-link">
Already have an account?
<a href="login.html">Login</a>
</p>

</div>

</body>
</html>