<!DOCTYPE html>
<html ng-app="carbonApp">

<head>

<title>Login</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="style.css">

</head>

<body ng-controller="LoginController">

<h2>User Login</h2>

<input type="text" ng-model="email" placeholder="Email">

<br><br>

<input type="password" ng-model="password" placeholder="Password">

<br><br>

<button ng-click="login()">Login</button>

<h3>{{message}}</h3>

<a href="register.html">Create Account</a>

</body>
</html>