<!DOCTYPE html>
<html ng-app="carbonApp">

<head>

<title>Register</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="style.css">

</head>

<body ng-controller="RegisterController">

<h2>User Registration</h2>

<input type="text" ng-model="name" placeholder="Name">

<br><br>

<input type="text" ng-model="email" placeholder="Email">

<br><br>

<input type="password" ng-model="password" placeholder="Password">

<br><br>

<input type="text" ng-model="country" placeholder="Country">

<br><br>

<button ng-click="register()">Register</button>

<h3>{{message}}</h3>

<a href="login.html">Login</a>

</body>
</html>